{% load form_helpers %}
{% load i18n %}

<form action="{{ form_url }}" method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">{% trans "Confirm Deletion" %}</h5>
  </div>
  <div class="modal-body">
    <p>
      {% blocktrans trimmed %}
        Are you sure you want to <strong class="text-danger">delete</strong> {{ object_type }} <strong>{{ object }}</strong>?
      {% endblocktrans %}
    </p>
    {% if requires_text_confirmation %}
      {% blocktrans trimmed %}
        <input type="text" class="form-control" id="confirmation" name="{{ object_type }}/{{ object }}" placeholder="Type {{ object_type }}/{{ object }} to confirm the deletion.">
      {% endblocktrans %}
    {% endif %}
    {% render_form form %}
  </div>
  <div class="modal-footer">
    {% if return_url %}
      <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
    {% else %}
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
    {% endif %}
    <button type="submit" id="delete-button" class="btn btn-danger disabled">{% trans "Delete" %}</button>
  </div>
</form>

<script>
  deleteBtn = document.getElementById("delete-button")
  inputField = document.getElementById("confirmation")
  inputField.addEventListener("keyup", function (event) {
    if(!deleteBtn.classList.contains("disabled")) {
      console.log("adding disabled class")
      deleteBtn.classList.add("disabled")
    }
    if (inputField.value === inputField.name) {
      if(deleteBtn.classList.contains("disabled")) {
        deleteBtn.classList.remove("disabled")
      }
    }
  });
</script>
